{
  "openapi": "3.0.3",
  "info": {
    "title": "Go Pkgsite API",
    "description": "API for accessing information about Go packages and modules on pkg.go.dev.",
    "version": "v0.1.0"
  },
  "servers": [
    {
      "url": "https://pkg.go.dev/v1beta"
    }
  ],
  "paths": {
    "/package/{path}": {
      "parameters": [
        {
          "name": "path",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Information about the package at {path}.",
        "operationId": "getPackage",
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "description": "Module path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Module version: semantic version, 'latest', or default branches 'master' or 'main'.\n(Latest if empty).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "goos",
            "in": "query",
            "description": "GOOS of documentation build context.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "goarch",
            "in": "query",
            "description": "GOARCH of documentation build context.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "doc",
            "in": "query",
            "description": "Documentation format: text, html, md or markdown.\nIf omitted, documentation is not returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "examples",
            "in": "query",
            "description": "Whether to include examples with the returned documentation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "imports",
            "in": "query",
            "description": "Whether to include the packages that this one imports.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "licenses",
            "in": "query",
            "description": "Whether to include licenses in the result.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Package"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Candidate": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string"
          },
          "packagePath": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "code": {
            "description": "HTTP status code",
            "type": "integer"
          },
          "err": {
            "$ref": "#/components/schemas/Error",
            "description": "Unexported field for internal tracking"
          },
          "fixes": {
            "description": "suggestions for how to fix",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string"
          },
          "filePath": {
            "type": "string"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "commitTime": {
            "description": "CommitTime is the timestamp returned by the module proxy's .info endpoint,\nrepresenting the time the version was created.",
            "type": "string",
            "format": "date-time"
          },
          "goModContents": {
            "type": "string"
          },
          "hasGoMod": {
            "type": "boolean"
          },
          "isLatest": {
            "type": "boolean"
          },
          "isRedistributable": {
            "type": "boolean"
          },
          "isStandardLibrary": {
            "type": "boolean"
          },
          "licenses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/License"
            }
          },
          "path": {
            "type": "string"
          },
          "readme": {
            "$ref": "#/components/schemas/Readme"
          },
          "repoUrl": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ModuleVersion": {
        "type": "object",
        "properties": {
          "commitTime": {
            "type": "string",
            "format": "date-time"
          },
          "deprecated": {
            "type": "boolean"
          },
          "deprecationReason": {
            "type": "string"
          },
          "hasGoMod": {
            "description": "Whether the module has a go.mod file.",
            "type": "boolean"
          },
          "isRedistributable": {
            "description": "Whether the license allows distribution.",
            "type": "boolean"
          },
          "latestVersion": {
            "description": "latest unretracted version",
            "type": "string"
          },
          "modulePath": {
            "type": "string"
          },
          "retracted": {
            "type": "boolean"
          },
          "retractionReason": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "string"
          },
          "goarch": {
            "type": "string"
          },
          "goos": {
            "type": "string"
          },
          "imports": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isLatest": {
            "type": "boolean"
          },
          "isStandardLibrary": {
            "type": "boolean"
          },
          "licenses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/License"
            }
          },
          "modulePath": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "PackageImportedBy": {
        "type": "object",
        "properties": {
          "importedBy": {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          "modulePath": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "PackageInfo": {
        "type": "object",
        "properties": {
          "isRedistributable": {
            "description": "Whether the license allows distribution.",
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "synopsis": {
            "type": "string"
          }
        }
      },
      "PackageSymbols": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string"
          },
          "symbols": {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "PackagesResponse": {
        "type": "object",
        "properties": {
          "isStandardLibrary": {
            "type": "boolean"
          },
          "modulePath": {
            "type": "string"
          },
          "packages": {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Readme": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string"
          },
          "filepath": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "modulePath": {
            "type": "string"
          },
          "packagePath": {
            "type": "string"
          },
          "synopsis": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "Symbol": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "string"
          },
          "synopsis": {
            "type": "string"
          }
        }
      },
      "Vulnerability": {
        "type": "object",
        "properties": {
          "details": {
            "type": "string"
          },
          "fixedVersion": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        }
      }
    }
  }
}